<nav class="nav">
     <div class="nav-link">
        <a href="/takes">OTHER TAKES</a>
    </div>
    
    <div class="nav-logo">
        <a href="/">cold take</a>
    </div>

    <div class="nav-link">
        <a href="/takes/state-it">STATE IT</a>
    </div>
</nav>