<nav>
     <div>
        <a href="/">HOME</a>
        <a href="/takes">TAKES</a>
    </div>
    
    <div>
        <a href="/">cold take</a>
    </div>

    <div>
        <a href="/publish">STATE IT</a>
    </div>
</nav>