<%- include('partials/head') %>

<%- include('partials/navbar-article') %>

<main>
    <section class="article">
        <header class="article-header">
            <div class="article-image"></div>
            <h1 class="article-title"></h1>
        </header>

        <div class="content-wrapper">
            <div class="article-info">
                <span class="subtitle">author</span>
                <span class="subtitle">date</span>
            </div>

            <p class="article-text">This will be the article text</p>
        </div>

        <div class="author-socials">
            <span>INSTAGRAM: LOLA.LA</span>
            <span>TIKTOK: LOLA.LA</span>
        </div>
    </section>
</main>

<%- include('partials/footer') %>