<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/home">HOME</a>
                <a href="/takes">TAKES</a>
            </div>
            
            <h1>cold take</h1>

            <div>
                <a href="publish">STATE IT</a>
            </div>
        </nav>
    </header>

    <main>
        <!-- Hero Block -->
        <div>
            <h2>because<br>what is fashion<br>without you</h2>
        </div>

        <!-- Text Blocks -->
        <div>
            <div>
                <div>

                </div>

                <div>

                </div>
            </div>
        </div>

        <!-- Contact Form Block -->
        <div>
            <h3>questions.</h3>

            <div>
                <div>

                </div>
                 <form action=""></form>
            </div>
        </div>
    </main>
</body>
</html>